{% load static %}
<nav class="navbar navbar-expand-lg bg-body-white main-navbar2">
    <div class="container-fluid">
        <div class="d-block mt-0 d-md-none">
            <a href="{% url 'index' %}" class="navbar-brand">
                <img class="logo-image" src="{% static 'logo/logo2.jpg' %}" alt=""></h1>
            </a>
        </div>
      <a class="navbar-brand d-block mt-0 d-md-none" href="#">Golf.com</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-lg-auto">
          <li class="nav-item">
            <a href="{% url 'index' %}" class="nav-link active nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'golferlist' %}" class="nav-item nav-link">Golferlist</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'courselist' %}" class="nav-item nav-link">GolfCourses</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'addgolfer' %}" class="nav-item nav-link">Add Golfer</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'addgolfcourse' %}" class="nav-item nav-link">Add Course</a>
          </li>
          
          
        </ul>
        
      </div>
    </div>
  </nav>